<h1>Pages#contact</h1>
<p><%= number_to_phone "1133455667778" %></p>
<p><%= number_to_currency "250" %></p>
<p><%= number_to_percentage "47" %></p>
<p><%= number_with_delimiter "2149102385094137560" %></p>
<%= link_to "about me", about_path, class: "btn btn-lg btn btn-secondary" %>
<%= link_to "home", root_path, class: "btn btn-lg btn btn-secondary"%>

